.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.react-flow__input,
.react-flow__output,
.react-flow__edge {
  cursor: default !important;
}

.react-flow {
  background: rgb(53, 53, 53);
}

.react-flow__pane {
  min-height: 100vh;
  overflow: scroll;
  cursor: default;
}

.react-flow__node {
  background: rgb(85, 85, 85);
  color: white;
  cursor: default;
  width: 80px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  transition: all .2s ease-in-out;
}

.react-flow__node.loading {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.2) 10px, transparent 8px);
  background-size: 30px 30px;
  animation: animate-stripes 3s linear infinite;

  cursor: default;
  width: 80px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

@keyframes animate-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 0;
  }
}

.react-flow__node:hover {
  transform: scale(3);
  background: rgb(255, 255, 255);
  color: rgb(49, 49, 49);
}


.react-flow__handle {
  opacity: 0;
}